# `pandas`: Práce s chybějícími hodnotami, spojování dat
Odkaz na lekci: https://kodim.cz/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/pokrocile-upravy

In [ ]:
import pandas

Data jsou tentokrát ve třech tabulkách:
* [u202.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u202.csv)
* [u203.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u203.csv)
* [u302.csv](https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/u302.csv)

In [ ]:
u202 = pandas.read_csv("u202.csv")
u203 = pandas.read_csv("u203.csv")
u302 = pandas.read_csv("u302.csv")

## Chybějící hodnoty

In [ ]:
u202.info()

In [ ]:
u202["znamka"].isna()

In [ ]:
u202.dropna(subset=["znamka"])

## Spojení tabulek

In [ ]:
pandas.concat([u202, u203])

## Cviceni

In [29]:
import pandas

names = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/jmena.csv")
students1 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti1.csv")
students2 = pandas.read_csv("https://kodim.cz/cms/assets/kurzy/python-data-1/python-pro-data-1/agregace-a-spojovani/excs/excs>studenti/studenti2.csv")

In [30]:
# Načti dva datové sety studentů do oddělených pandas DataFrame a pomocí funkce concat je spoj do jednoho setu.

students = pandas.concat([students1, students2], ignore_index=True)
students

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
341    Lukáš          Čech  informatika a management     5.0   NaN      1.59
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
343    Ivana    Macháčková        webové inženýrství     1.0   NaN      2.92
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[345 rows x 6 columns]

In [31]:
students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     345 non-null    object
 1   příjmení  345 non-null    object
 2   obor      345 non-null    object
 3   ročník    312 non-null    float64
 4   kruh      318 non-null    float64
 5   prospěch  345 non-null    float64
dtypes: float64(3), object(3)
memory usage: 16.3+ KB

In [33]:
# Pokud studentovi chybí ročník, znamená to, že již nestuduje. 
# Pokud mu chybí číslo skupiny, znamená to, že jde o dálkového studenta.
# Kolik studentů v datovém setu již nestuduje a kolik jsou dálkoví studenti?
no_longer_students = students[students["ročník"].isnull()]
no_longer_students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33 entries, 6 to 331
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     33 non-null     object
 1   příjmení  33 non-null     object
 2   obor      33 non-null     object
 3   ročník    0 non-null      float64
 4   kruh      31 non-null     float64
 5   prospěch  33 non-null     float64
dtypes: float64(3), object(3)
memory usage: 1.8+ KB

In [22]:
remote_students = students[students["kruh"].isnull()]
len(remote_students)

27

In [25]:
# Vyčisti data od studentů, kteří nestudují nebo studují jen dálkově. Nadále budeme pracovat pouze s prezenčními studenty.

current_students = students.dropna(subset=["ročník", "kruh"])
current_students

       jméno      příjmení                      obor  ročník  kruh  prospěch
0    Ludmila    Šindlerová  informatika a management     4.0  11.0      2.49
1        Jan       Pekárek    softwarové inženýrství     1.0   7.0      1.05
2      Milan         Weiss        počítačová grafika     5.0  11.0      2.62
3     Jiřina       Petrová         správa IT systémů     4.0   1.0      1.15
4      Josef      Navrátil        číslicová technika     5.0   7.0      2.42
..       ...           ...                       ...     ...   ...       ...
338    Klára     Valentová         správa IT systémů     1.0  11.0      1.10
339    Pavla     Veverková        počítačová grafika     4.0   6.0      2.98
340   Daniel  Brandstätter  informatika a management     4.0   2.0      2.05
342   Dagmar      Košanová    teoretická informatika     5.0  10.0      1.34
344  Martina       Turková    softwarové inženýrství     5.0   8.0      1.54

[287 rows x 6 columns]

In [32]:
current_students.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 287 entries, 0 to 344
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   jméno     287 non-null    object
 1   příjmení  287 non-null    object
 2   obor      287 non-null    object
 3   ročník    287 non-null    float64
 4   kruh      287 non-null    float64
 5   prospěch  287 non-null    float64
dtypes: float64(3), object(3)
memory usage: 15.7+ KB